.btn {
  border: none;
  cursor: pointer;
}

.btn-clear {
  color: #000;
  padding: 1rem;
  font-size: 1rem;
  
  &:hover {
    text-decoration: underline;
  }
}

.btn-action {
  background-color: transparent;
}
