@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --color-grey: rgb(184, 184, 184);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hidden {
  display: none;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
